/*General*/

*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}

/*Encabezado*/

header{
    background-color: #131921; 
    display: flex;
    
}
h1{
    text-align: center;
    font-size: 500%;
    background-color: #131921;    
    color: white;  
    padding: 2% 0px;   
    width: 20%;
    margin-left: 40%;
}

form{
    height: 100%;
    width: 14.7%;    
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 20%;
    /*
    position: absolute;
    right: 7%;
    top: 8%;
    */
    
    input{
        border: none;
        background-color: #131921;
        color: white;
        font-size: 110%;
    }
    input:hover{
        color: #c97923;
        text-decoration: underline;
    }
}
/*body*/

body{                              
    display: flex;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;                
    height: 100%; 
    background-color: #E3E6E6;
}
main{
    display: flex;
    flex-wrap: wrap;
    margin: 1% auto;       
    height: 110%;      
    align-items: center;    
    border-radius: 9%;
    
    width: 100%;
    
}

main p{
    text-align: center;
    margin: 0 auto;
    background-color: white;
    width: 40%;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px #888888;
}

a{
    text-decoration: none;
    color: black;
    text-align: center;
    color: rgb(16, 9, 114);
    font-weight: bold;    
}

/*footer*/

footer{
    display: flex;
    flex-direction: row;                 
    justify-content: center;
    background-color: #232F3E;
    font-size: 140%;       
}


footer p{
    text-align: center;                
    width: fit-content;   
    margin: 2% 1.5%;                          
}

footer a{
    color: white;
    font-weight: bold;
}

footer p:hover{
    text-decoration: underline;  
    color: white;
}